<div class="dialog-title" fxLayoutAlign="space-between">
  <div class="dialog-title-text">Sim Season</div>
  <button mat-mini-fab mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <div fxLayout="column">
        <mat-slide-toggle [(ngModel)]="result.simSeason">Sim Season</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="result.simFast">Sim Fast</mat-slide-toggle>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="space-between">
  <button id="cancel" mat-flat-button class="cancel" [mat-dialog-close]="false">Cancel</button>
  <button id="submit" mat-flat-button class="submit" (click)="submitForm()">Apply</button>
</mat-dialog-actions>
