@import 'src/scss/common';

.dialog-title {
  margin-bottom: 12px;

  .dialog-title-text {
    @include boldText($lgFontSize);
  }
  button {
    color: white;
    background-color: rgba(0, 128, 0, 0.5) !important;
  }
}

mat-dialog-content {
  mat-card {
    background-color: #EEE;
    // .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    //   background-color: green;
    // }
    mat-slide-toggle {
      padding: 12px 0px;
    }
  }
}

mat-dialog-actions {
  padding: 24px 0px;
  button {
    color: black;
    background-color: rgba(0, 128, 0, 0.5) !important;
  }
}
