<mat-card *ngIf="!loading">
  <div class="playoffs">
    <div class="playoffs-text">
      Playoffs
    </div>

    <!-- <div style="margin: 12px;">
      <div *ngFor="let team of playoffTeams">
        {{ showTeam(team) }}
      </div>
    </div> -->

    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Bracket">
        <mat-card>
          <div class="bracket">
            <div class="wrapper">
              <div class="item">
                <div class="item-parent">
                  <p><img src="/assets/images/{{ getAbbrev(10, 'v') }}.png"></p>
                </div>
                <div class="item-childrens">
                  <div class="item-child">
                    <div class="item">
                      <div class="item-parent">
                        <p><img src="/assets/images/{{ getAbbrev(8, 'v') }}.png"></p>
                      </div>
                      <div class="item-childrens">
                        <div class="item-child">
                          <div class="item">
                            <div class="item-parent">
                              <p><img src="/assets/images/{{ getAbbrev(4, 'v') }}.png"></p>
                            </div>
                            <div class="item-childrens">
                              <div class="item-child">
                                <p><img src="/assets/images/{{ getAbbrev(0, 'v') }}.png"></p>
                              </div>
                              <div class="item-child">
                                <p><img src="/assets/images/{{ getAbbrev(0, 'h') }}.png"></p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-child">
                          <p><img src="/assets/images/{{ getAbbrev(4, 'h') }}.png"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-child">
                    <div class="item">
                      <div class="item-parent">
                        <p><img src="/assets/images/{{ getAbbrev(8, 'h') }}.png"></p>
                      </div>
                      <div class="item-childrens">
                        <div class="item-child">
                          <div class="item">
                            <div class="item-parent">
                              <p><img src="/assets/images/{{ getAbbrev(6, 'v') }}.png"></p>
                            </div>
                            <div class="item-childrens">
                              <div class="item-child">
                                <p><img src="/assets/images/{{ getAbbrev(2, 'v') }}.png"></p>
                              </div>
                              <div class="item-child">
                                <p><img src="/assets/images/{{ getAbbrev(2, 'h') }}.png"></p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-child">
                          <p><img src="/assets/images/{{ getAbbrev(6, 'h') }}.png"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="Schedule">
        <mat-card>
          <div class="schedule" *ngFor="let day of aGameDay">
            <ng-container *ngIf="getGamesForDay(day).length">
              <div class="gameday-text">
                {{day}}
              </div>
              <div fxLayout="row wrap" fxLayout.xs="column wrap"
                [@listAnimations]="{ value: getGamesForDay(day).length, params: { stagger: '100ms' } }">
                <div fxFlex.gt-xs="50%" fxFlex.gt-md="25%" *ngFor="let score of getGamesForDay(day)"
                  (click)="getMatchup(score.id)">
                  <mat-card class="gameday" matRipple appMaterialElevation>
                    <show-score [score]=score></show-score>
                  </mat-card>
                </div>
              </div>
            </ng-container>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>

    <!-- <div style="margin: 12px;">
      <div *ngFor="let day of aGameDay">
        <span class="gameday-text">{{ day }}</span>
        <div>
          <div fxFlex="25%" *ngFor="let score of getGamesForDay(day)" (click)="getMatchup(score.id)">
            <mat-card class="gameday" matRipple appMaterialElevation>
              <show-score [score]=score></show-score>
            </mat-card>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div fxLayout="row wrap" fxLayout.xs="column wrap">
    <div fxFlex.gt-xs="50%" fxFlex.gt-md="25%" class="flex-container">
      <div fxLayout="column">
        <div><img src="/assets/images/{{teamsArr[AFCPlayoffTeams[4]]?.abbrev}}.png"></div>
        <div><img src="/assets/images/{{teamsArr[AFCPlayoffTeams[3]]?.abbrev}}.png"></div>
        <div></div>
        <div><img src="/assets/images/{{teamsArr[AFCPlayoffTeams[5]]?.abbrev}}.png"></div>
        <div><img src="/assets/images/{{teamsArr[AFCPlayoffTeams[2]]?.abbrev}}.png"></div>
        <div></div>
      </div>
      <div fxLayout="column">
        <div><img *ngIf="teamsArr[AFCPlayoffTeams[6]]" src="/assets/images/{{teamsArr[AFCPlayoffTeams[6]]?.abbrev}}.png"></div>
        <div><img src="/assets/images/{{teamsArr[AFCPlayoffTeams[0]]?.abbrev}}.png"></div>
        <div></div>
        <div><img *ngIf="teamsArr[AFCPlayoffTeams[7]]" src="/assets/images/{{teamsArr[AFCPlayoffTeams[7]]?.abbrev}}.png"></div>
        <div><img src="/assets/images/{{teamsArr[AFCPlayoffTeams[1]]?.abbrev}}.png"></div>
      </div>
      <div fxLayout="column">
        <div><img *ngIf="teamsArr[AFCPlayoffTeams[8]]" src="/assets/images/{{teamsArr[AFCPlayoffTeams[8]]?.abbrev}}.png"></div>
        <div></div>
        <div></div>
        <div><img *ngIf="teamsArr[AFCPlayoffTeams[9]]" src="/assets/images/{{teamsArr[AFCPlayoffTeams[9]]?.abbrev}}.png"></div>
      </div>
      <div fxLayout="column">
        <div><img *ngIf="teamsArr[AFCPlayoffTeams[10]]" src="/assets/images/{{teamsArr[AFCPlayoffTeams[10]]?.abbrev}}.png"></div>
      </div>
      <div fxLayout="column">
        <div><img class="play-img" src="/assets/images/NFLPlayoffs.png"></div>
        <div></div>
        <div><img class="sb-img" src="/assets/images/SuperBowl.png" width="100"></div>
        <div></div>
        <div><img *ngIf="SuperBowlChamp" src="/assets/images/{{teamsArr[SuperBowlChamp]?.abbrev}}.png"></div>
      </div>
      <div fxLayout="column">
        <div><img *ngIf="teamsArr[NFCPlayoffTeams[10]]" src="/assets/images/{{teamsArr[NFCPlayoffTeams[10]]?.abbrev}}.png"></div>
      </div>
      <div fxLayout="column">
        <div><img *ngIf="teamsArr[NFCPlayoffTeams[8]]" src="/assets/images/{{teamsArr[NFCPlayoffTeams[8]]?.abbrev}}.png"></div>
        <div></div>
        <div></div>
        <div><img *ngIf="teamsArr[NFCPlayoffTeams[9]]" src="/assets/images/{{teamsArr[NFCPlayoffTeams[9]]?.abbrev}}.png"></div>
      </div>
      <div fxLayout="column">
        <div><img *ngIf="teamsArr[NFCPlayoffTeams[6]]" src="/assets/images/{{teamsArr[NFCPlayoffTeams[6]]?.abbrev}}.png"></div>
        <div><img src="/assets/images/{{teamsArr[NFCPlayoffTeams[0]]?.abbrev}}.png"></div>
        <div></div>
        <div><img *ngIf="teamsArr[NFCPlayoffTeams[7]]" src="/assets/images/{{teamsArr[NFCPlayoffTeams[7]]?.abbrev}}.png"></div>
        <div><img src="/assets/images/{{teamsArr[NFCPlayoffTeams[1]]?.abbrev}}.png"></div>
      </div>
      <div fxLayout="column">
        <div><img src="/assets/images/{{teamsArr[NFCPlayoffTeams[4]]?.abbrev}}.png"></div>
        <div><img src="/assets/images/{{teamsArr[NFCPlayoffTeams[3]]?.abbrev}}.png"></div>
        <div></div>
        <div><img src="/assets/images/{{teamsArr[NFCPlayoffTeams[5]]?.abbrev}}.png"></div>
        <div><img src="/assets/images/{{teamsArr[NFCPlayoffTeams[2]]?.abbrev}}.png"></div>
        <div></div>
      </div>
    </div>
  </div> -->

  </div>
</mat-card>

<mat-card class="loading-well" *ngIf="loading">
    <div class="loading-image"><img src="/assets/images/loading.gif" height="40px"></div>
    <div class="loading-font">&nbsp; Loading Playoffs &hellip;</div>
</mat-card>
