<mat-toolbar class="menu">

  <div class="menu-logo"><img src="/assets/images/NFL.gif" height="50px"></div>

  <div fxLayoutAlign="center" fxShow="false" fxShow.gt-sm>
    <span class="menu-link"><a [routerLink]="['/teams']" id="show">Show Teams</a></span>
    <span class="menu-link"><a [routerLink]="['/schedule']" id="schedule">Schedule</a></span>
    <span class="menu-link"><a [routerLink]="['/standings']" id="standings">Standings</a></span>
    <span class="menu-link"><a [routerLink]="['/playoffs']" id="playoffs" *ngIf="postseason">Playoffs</a></span>
    <span class="menu-link"><a id="topTeams" (click)="getTopTeams()">Top Teams</a></span>
    <span class="menu-link"><a id="help">Help</a></span>
  </div>

  <span fxFlex="1 1 auto"></span>

  <button mat-raised-button type="button" id="simulate" [disabled]="simSeason" (click)="simulate()">{{ postseason ? 'Sim Playoffs' : 'Simulate' }}</button>

  <div class="spin">
    <button mat-icon-button class="settings-mini-fab" matTooltip="Settings" [matMenuTriggerFor]="settingsMenu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #settingsMenu>
      <a mat-menu-item id="reset" (click)="resetSeason()">Reset Season</a>
    </mat-menu>
  </div>

  <a mat-button [matMenuTriggerFor]="mainMenu" fxHide="false" fxHide.gt-sm>
    <mat-icon>more_vert</mat-icon>
  </a>
  <mat-menu #mainMenu>
    <a mat-menu-item [routerLink]="['/teams']" id="show">Show Teams</a>
    <a mat-menu-item [routerLink]="['/schedule']" id="schedule">Schedule</a>
    <a mat-menu-item [routerLink]="['/standings']" id="standings">Standings</a>
    <a mat-menu-item id="topTeams" (click)="getTopTeams()">Top Teams</a>
    <a mat-menu-item id="help">Help</a>
  </mat-menu>

  </mat-toolbar>
