@import 'src/scss/common';

.menu {
  background: url('/assets/images/grass.gif');
  background-color: #333;
  top: 0;
  margin: 0px;
  padding: 0px;
  z-index: 99;
  text-shadow: 5px 5px 5px black;
  position: -webkit-sticky; /* Safari */
  position: sticky;

  .menu-logo {
    margin: 5px 20px;
  }

  .menu-link {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      transform: scale(1.1);
    }
  }

  a {
    @include normalText($smFontSize);
    color: white;
    cursor: pointer;
    padding: 14px 16px;
    text-decoration: none;

    &:hover {
      border-color: rgba(0, 128, 0, 0.5);
      background-color: rgba(0, 128, 0, 0.5);
    }
  }

  button {
    margin: 10px;

    &.settings-mini-fab {
      padding: 0;
      width: 30px;
      height: 30px;
      color: white;

      mat-icon {
        line-height: .7em;
        font-size: $xxFontSize;
      }
    }

    &.disabled {
      background-color: rgba(0, 0, 0, 0.4);
      color: rgba(200, 200, 200, 0.6);
    }
  }

  .spin {
    @include matIconSpin(0.7s, 180deg, 25px, 25.5px);
  }
}
