<mat-card *ngIf="!loading">
  <div class="schedule">
    <div class="gameday-text">
      {{gameDay}}
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column wrap"
      [@listAnimations]="{ value: gamesArr.length, params: { stagger: '100ms' } }">
      <div fxFlex.gt-xs="50%" fxFlex.gt-md="25%" *ngFor="let score of gamesArr"
        (click)="getMatchup(score.id)">
        <mat-card class="gameday" matRipple appMaterialElevation>
          <show-score [score]=score></show-score>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>

<mat-card class="loading-well" *ngIf="loading">
  <div class="loading-image"><img src="/assets/images/loading.gif" height="40px"></div>
  <div class="loading-font">&nbsp; Loading Team List &hellip;</div>
</mat-card>
