mat-card {
  margin: 12px;
  padding: 8px;
}
.schedule {
  font-size: 14pt;
  font-weight: bold;
  font-style: italic;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}
.schedule-body {
  margin: 2px;
}
