@import 'src/scss/common';

.month {
  @include boldItalText($medFontSize);
  text-align: center;
  background: rgba(0, 128, 0, 0.5);
  min-height: 128px;
  border-radius: 5px;
  padding: 12px;

  .month-table {
    @include boldItalText($xsFontSize);
    color: #666;
    background: url(/assets/images/whiteback.gif);
    min-height: 110px;
    border-radius: 5px;

    a {
      color: green;
      cursor: pointer;

      &:hover {
        border-color: rgba(0, 128, 0, 0.5);
        background-color: rgba(0, 128, 0, 0.2);
      }
    }
    .no-link {
      color: black;
    }
  }
}
