a {
  color: green;
  cursor: pointer;
  font-weight: bold;
}
a:hover {
  border-color: rgba(0, 128, 0, 0.5);
  background-color: rgba(0, 128, 0, 0.2);
}
.no-link {
  color: black;
}
.month {
  font-style: italic;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 128, 0, 0.5);
  min-height: 120px;
  margin-bottom: 0px;
  border-radius: 5px;
  padding: 12px;
}
.month-table {
  font-size: 8pt;
  color: #666;
  background: url(/assets/images/whiteback.gif);
  min-height: 100px;
  border-radius: 5px;
}
