<mat-card *ngIf="!loading">
  <div class="schedule">
    <div style="margin-top:5px">
      {{gameDay}}
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column wrap">
      <div fxFlex.gt-xs="50%" fxFlex.gt-md="25%" *ngFor="let score of gamesArr"
        (click)="getMatchup(score.id)">
        <mat-card class="gameday">
          <show-score [score]=score></show-score>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>

<mat-card class="loading-well" *ngIf="loading">
  <div style="float:left;"><img src="/assets/images/loading.gif" height="40"></div>
  <div class="loading-font" style="float:right">&nbsp; Loading Team List &hellip;</div>
</mat-card>
