@import 'src/scss/common';

mat-card {
  margin: 12px;
  padding: 8px;
}

.schedule {
  .schedule-text {
    @include boldItalText($lgFontSize);
    margin-top: 5px;
  }
  .schedule-body {
    max-height: 181px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    .month-container {
      margin: 2px;
      min-width: 248px;
    }
  }
}
