@import 'src/scss/common';

.month {
  @include boldItalText($medFontSize);
  text-align: center;
  background: $NFLColor;
  height: 134px;
  border-radius: 5px;
  padding: 12px;

  .month-table {
    @include boldItalText($xsFontSize);
    // color: #666;
    background: url(/assets/images/whiteback.gif);
    height: 116px;
    border-radius: 5px;

    a {
      color: $NFLLinkColor;
      cursor: pointer;

      &:hover {
        border-color: $NFLColor;
        background-color: $NFLTrans;
      }
    }
    .no-link {
      color: $NFLTrans;
    }
  }
}
