<mat-card *ngIf="!loading">
  <div class="showgame">
    <div class="show-center">
      <img src="/assets/images/NFLToday.gif" name="NFLToday">
    </div>
    <div class="show-center">
      <div><img src="/assets/images/V40.gif" name="Vteam" width="40" height="40px"></div>
      <div><img name="s11" src="/assets/images/0.gif"><img name="s12" src="/assets/images/0.gif"></div>
      <div><img src="/assets/images/Quarter.gif"></div>
    </div>
    <div class="show-center">
      <div><img src="/assets/images/H40.gif" name="Hteam" width="40" height="40px"></div>
      <div><img name="s21" src="/assets/images/0.gif"><img name="s22" src="/assets/images/0.gif"></div>
      <div><img src="/assets/images/F.gif" name="Period"></div>
    </div>
  </div>
</mat-card>

<mat-card class="loading-well" *ngIf="loading">
  <div class="loading-image"><img src="/assets/images/loading.gif" height="40px"></div>
  <div class="loading-font">&nbsp; Loading Game &hellip;</div>
</mat-card>
