mat-card {
  margin: 12px;
  padding: 8px;
}
table {
  border-collapse: collapse;
  border-style: hidden;
}
table td, table th {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.division {
  font-family: Arial;
  font-style: italic;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 128, 0, 0.5);
  min-height: 160px;
  margin-bottom: 0px;
  border-radius: 5px;
  padding: 12px;
}
.div-table {
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  background: url(/assets/images/whiteback.gif);
  text-align: left;
  margin-bottom: 0px;
  border-radius: 5px;
}
.team-row:hover {
  border-color: rgba(0, 128, 0, 0.5);
  background-color: rgba(0, 128, 0, 0.2);
}
.team-info {
  white-space: nowrap;
}
.logo {
  float:left;
  height: 40px;
}
.team-city {
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  -webkit-padding-start: 5px;
}
.team-name {
  font-family: Arial;
  font-size: 12pt;
  font-weight: bold;
  font-style: normal;
  -webkit-padding-start: 5px;
}
