<div *ngIf="!loading" class="division">
  {{division}}
  <table class="div-table" width="100%">
    <thead>
      <tr>
        <td width="35%"></td>
        <td width="13%">W</td>
        <td width="13%">L</td>
        <td width="13%" *ngIf="currentGame > 0">PCT</td>
        <td width="13%" *ngIf="currentGame === 0">Total</td>
        <td width="13%">PF</td>
        <td width="13%">PA</td>
      </tr>
    </thead>
    <tbody>
      <tr class="team-row" *ngFor="let team of divisionTeams" (click)="showTeam(team.abbrev)">
        <td class="team-info">
          <img src="./assets/images/{{team.abbrev}}.png" class="logo">
          <div fxHide.lt-sm>
            <span class="team-city">{{team.city}}</span><br>
            <span class="team-name">{{team.name}}</span>
          </div>
        </td>
        <td>{{team.wins}}</td>
        <td>{{team.losses}}</td>
        <td *ngIf="currentGame > 0">{{team.pct}}</td>
        <td *ngIf="currentGame === 0">{{team.total}}</td>
        <td>{{team.pf}}</td>
        <td>{{team.pa}}</td>
      </tr>
    </tbody>
  </table>
</div>

<mat-card class="loading-well" *ngIf="loading">
  <div class="loading-image"><img src="./assets/images/loading.gif" height="40px"></div>
  <div class="loading-font">&nbsp; Loading Standings &hellip;</div>
</mat-card>
