@import 'src/scss/common';

mat-card {
  margin: 12px;
  padding: 8px;
}

.division {
  @include boldItalText($medFontSize);
  text-align: center;
  background-color: $NFLColor;
  padding: 12px;
  margin: 0px;
  border-radius: 5px;

  mat-table {
    @include normalText($smFontSize);
    // background-image: url(/assets/images/whiteback.jpg);
    background-color: $NearWhite;
    border: solid $NearWhite 3px;
    border-radius: 6px;

    &.small-view {
      max-width: 75vw;
    }

    mat-header-row {
      min-height: 16px;
    }
    mat-header-cell {
      display: flex;
      justify-content: flex-end;
      @include boldText($smFontSize);
    }
    mat-row {
      min-height: 40px;
      &:hover {
        border-color: $NFLColor;
        background-color: $NFLTrans;
      }
    }
    mat-cell {
      display: flex;
      justify-content: flex-end;
      // border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .mat-column-team {
    display: flex;
    justify-content: flex-start !important;
    padding-left: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .logo {
      height: 40px;
    }
    .team-city {
      @include normalText($medFontSize);
      padding-left: 5px;
    }
    .team-name {
      @include boldText($lgFontSize);
      padding-left: 5px;
    }
  }

  &.standard {
    .mat-column-team {
      flex: 1 1 35% !important;
    }
    .mat-column-wins {
      flex: 1 1 13% !important;
    }
    .mat-column-losses {
      flex: 1 1 13% !important;
    }
    .mat-column-pct {
      flex: 1 1 13% !important;
    }
    .mat-column-total {
      flex: 1 1 13% !important;
    }
    .mat-column-pf {
      flex: 1 1 13% !important;
    }
    .mat-column-pa {
      flex: 1 1 13% !important;
    }
    .mat-column-homewins {
      flex: 0 0 0px !important;
    }
    .mat-column-visitwins {
      flex: 0 0 0px !important;
    }
    .mat-column-divwins {
      flex: 0 0 0px !important;
    }
    .mat-column-confwins {
      flex: 0 0 0px !important;
    }
    .mat-column-othwins {
      flex: 0 0 0px !important;
    }
  }

  &.expanded {
    .mat-column-team {
      flex: 1 1 20% !important;
    }
    .mat-column-wins {
      flex: 1 1 8% !important;
    }
    .mat-column-losses {
      flex: 1 1 8% !important;
    }
    .mat-column-pct {
      flex: 1 1 8% !important;
    }
    .mat-column-total {
      flex: 1 1 8% !important;
    }
    .mat-column-pf {
      flex: 1 1 8% !important;
    }
    .mat-column-pa {
      flex: 1 1 8% !important;
    }
    .mat-column-homewins {
      flex: 1 1 8% !important;
    }
    .mat-column-visitwins {
      flex: 1 1 8% !important;
    }
    .mat-column-divwins {
      flex: 1 1 8% !important;
    }
    .mat-column-confwins {
      flex: 1 1 8% !important;
    }
    .mat-column-othwins {
      flex: 1 1 8% !important;
    }
  }
}
