<div *ngIf="!loading" class="division">
  {{division}}
  <table class="div-table" width="100%">
    <thead>
      <tr>
        <td width="40%"></td>
        <td width="12%">W</td>
        <td width="12%">L</td>
        <td width="12%">PCT</td>
        <td width="12%">PF</td>
        <td width="12%">PA</td>
      </tr>
    </thead>
    <tbody>
      <tr class="team-row" *ngFor="let team of divisionTeams" (click)="showTeam(team.abbrev)">
        <td class="team-info">
          <img src="/assets/images/{{team.abbrev}}.png" class="logo">
          <span class="team-city">{{team.city}}</span>
          <br>
          <span class="team-name">{{team.name}}</span>
        </td>
        <td>{{team.wins}}</td>
        <td>{{team.losses}}</td>
        <td *ngIf="currentGame > 0">{{team.pct}}</td>
        <td *ngIf="currentGame === 0">{{team.total}}</td>
        <td>{{team.pf}}</td>
        <td>{{team.pa}}</td>
      </tr>
    </tbody>
  </table>
</div>
<mat-card class="well loading-well" *ngIf="loading">
  <div style="float:left;"><img src="/assets/images/loading.gif" height="40"></div>
  <div class="loading-font" style="float:right">&nbsp; Loading Standings &hellip;</div>
</mat-card>
