<div class="show-score" fxLayout="column" *ngIf="!loading">
  <div class="team-info">
    <img src="/assets/images/{{teamsArr[score.visitTeam].abbrev}}.png" class="logo">
    <span class="score"> {{score.visitScore}} </span>
    <span class="team-city">{{teamsArr[score.visitTeam].city}}</span><br>
    <span class="team-name">{{teamsArr[score.visitTeam].name}}</span>
  </div>
  <div class="team-info">
    <img src="/assets/images/{{teamsArr[score.homeTeam].abbrev}}.png" class="logo">
    <span class="score"> {{score.homeScore}} </span>
    <span class="team-city">{{teamsArr[score.homeTeam].city}}</span><br>
    <span class="team-name">{{teamsArr[score.homeTeam].name}}</span>
  </div>
</div>

<mat-card *ngIf="loading">
  <div style="float:left;"><img src="/assets/images/loading.gif" height="40"></div>
  <div style="float:right">&nbsp; Loading Game &hellip;</div>
</mat-card>
