mat-card {
  margin: 8px 8px 0px;
  padding: 8px;
}
.team-info {
  white-space: nowrap;
  text-align: left;
  x-line-height: 18px;
}
.logo {
  float:left;
  height: 40px;
}
.score {
  font-size: 14pt;
  text-align: center;
  // background: rgba(255, 255, 255, 0.5);
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  float: right;
}
.team-city {
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  -webkit-padding-start: 5px;
}
.team-name {
  font-size: 12pt;
  font-weight: bold;
  font-style: normal;
  -webkit-padding-start: 5px;
}
