@import 'src/scss/common';

mat-card {
  margin: 8px 8px 0px;
  padding: 8px;
}

.show-score {
  .team-info {
    white-space: nowrap;
    text-align: left;
    width: 100%;

    .logo {
      float: left;
      height: 40px;
    }
    .score {
      @include boldItalText($lgFontSize);
      // background: rgba(255, 255, 255, 0.5);
      margin: 2px;
      padding: 5px;
      float: right;
    }
    .team-city {
      @include normalText($smFontSize);
      -webkit-padding-start: 5px;
    }
    .team-name {
      @include boldText($medFontSize);
      -webkit-padding-start: 5px;
    }
  }
  .quarter {
    @include boldItalText($medFontSize);
  }
}
