@import 'src/scss/common';

mat-card {
  margin: 12px;
  padding: 8px;
}
.team-head-text {
  @include boldItalText($lgFontSize);
  margin-top: 5px;
}
.team-info {
  @include boldItalText($medFontSize);
  text-shadow: 2px 2px 0 rgba(0,0,0,1);
  cursor: pointer;
  margin: 4px;
  padding: 1px 1px 5px;
  border-radius: 10px;
  min-width: 180px;
  max-width: 240px;
  width: 100%;

  .logo {
    float: left;
    margin-right: 5px;
    height: 40px;
  }
}
