<mat-card *ngIf="!loading">
  <div class="schedule">
    <div class="schedule-text">
      {{team.city}} {{team.name}} Schedule
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column wrap"
      [@listAnimations]="{ value: teamSchedule.length, params: { stagger: '100ms' } }">
      <div fxFlex.gt-xs="50%" fxFlex.gt-md="25%" *ngFor="let score of teamSchedule"
        (click)="getMatchup(score.id)">
        <mat-card class="gameday" matRipple appMaterialElevation>
          <div class="gameday-text">
            {{score.gameday}}
          </div>
          <show-score [score]=score></show-score>
        </mat-card>
      </div>
      <div fxFlex.gt-xs="50%" fxFlex.gt-md="25%" *ngFor="let score of playoffSchedule"
        (click)="getMatchup(score.id, true)">
        <mat-card class="gameday" matRipple appMaterialElevation>
          <div class="gameday-text">
            {{score.gameday}}
          </div>
          <show-score [score]=score></show-score>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>

<mat-card class="loading-well" *ngIf="loading">
  <div class="loading-image"><img src="/assets/images/loading.gif" height="40px"></div>
  <div class="loading-font">&nbsp; Loading Team Schedule &hellip;</div>
</mat-card>
