@import 'src/scss/common';

mat-card {
  margin: 12px;
  padding: 8px;

  .team-card {
    margin: 4px;

    .banner-border {
      @include boldText($medFontSize);
      text-align: center;
      margin: 2px 0px;
      padding: 2px 0px;
    }
    .banner-center {
      @include boldText($xxFontSize);
      text-align: center;
      color: white;
    }
    .image-container {
      margin: 8px;
    }
    td {
      @include boldText($lgFontSize);
      text-align: center;
    }
  }
}
