@import 'src/scss/common';

mat-card {
  margin: 12px;
  padding: 8px;

  .team-card {
    margin: 4px;
    background-color: $LightGrey;

    .banner-border {
      @include boldText($medFontSize);
      text-align: center;
      margin: 2px 0px;
      padding: 2px 0px;
    }

    .banner-center {
      @include boldText($xxFontSize);
      text-align: center;
      color: $NearWhite;
    }

    .image-container {
      margin: 8px;
    }

    .super-bowl-trophy {
      width: 100px;
      height: 116px;
      background-image: url('/assets/images/Trophy.png');
      .super-bowl-champ {
        margin-top: 35px;
        width: 45%;
      }
    }

    mat-table {
      @include normalText($smFontSize);
      // border: solid $NearWhite 3px;

      mat-header-row {
        min-height: 18px;
      }
      mat-header-cell {
        margin: 0 1px 1px 1px;
        &:first-child {
          margin-left: 0px;
          padding-left: 0px;
        }
        &:last-child {
          margin-right: 0px;
          padding-right: 0px;
        }
        &.mat-column-total {
          flex: 0 1 15%;
        }
        display: flex;
        justify-content: center;
        @include boldText($medFontSize);
        flex: 1 1 0;
      }
      mat-row {
        min-height: 18px;
      }
      mat-cell {
        margin: 0 1px;
        &:first-child {
          margin-left: 0px;
          padding-left: 0px;
        }
        &:last-child {
          margin-right: 0px;
          padding-right: 0px;
        }
        &.mat-column-total {
          flex: 0 1 15%;
        }
        display: flex;
        justify-content: center;
        flex: 1 1 0;
      }
    }
  }
}
