<mat-card *ngIf="!loading">
  <div class="team-head" style="margin-top:5px">
    NFL Teams
  </div>
  <div fxLayout="row wrap" fxLayout.xs="column wrap"
    [@listAnimations]="{ value: teamsArr.length, params: { stagger: '50ms' } }">
    <div fxFlex.gt-xs="50%" fxFlex.gt-md="25%" *ngFor="let team of teamsArr">
      <div class="team-info" (click)="showTeam(team.abbrev)"
        [ngStyle]="{'color':'#'+team.lightcolor, 'background-color':'#'+team.darkcolor}">
        <div style="margin:5px;">
          <img src="/assets/images/{{team.abbrev}}.png" class="logo">
          <span>{{team.city}}<br>{{team.name}}</span>
        </div>
      </div>
    </div>
  </div>
</mat-card>

<mat-card class="loading-well" *ngIf="loading">
  <div style="float:left;"><img src="/assets/images/loading.gif" height="40"></div>
  <div class="loading-font" style="float:right">&nbsp; Loading Team List &hellip;</div>
</mat-card>
