<div class="container well col-sm-12">
    <!-- <ul class="list-group">
        <li class="list-group-item team-info" *ngFor="let team of teamsArr"
                [ngStyle]="{'color':'#'+team.lightcolor, 'background-color':'#'+team.darkcolor}">
            <img src="/assets/images/{{team.abbrev}}.png">
            {{team.city}} {{team.name}}
        </li>
    </ul> -->
    <div id="content-scroll-wrap">
      <div id="content-scroll">
        <div class="row well team-info" *ngFor="let team of teamsArr" [ngStyle]="{'color':'#'+team.lightcolor, 'background-color':'#'+team.darkcolor}">
          <div class="col-sm-10" style="margin-top:5px">
            <collapsible-well>
              <div well-title>
                <img src="/assets/images/{{team.abbrev}}.png">
                {{team.city}} {{team.name}}
              </div>
              <div well-body style="font-size:10pt">
                <span>QB: {{team.qb}} | </span>
                <span>RB: {{team.rb}} | </span>
                <span>WR: {{team.wr}} | </span>
                <span>OL: {{team.ol}} | </span>
                <span>DL: {{team.dl}} | </span>
                <span>LB: {{team.lb}} | </span>
                <span>DB: {{team.db}} | </span>
                <span>ST: {{team.st}} | </span>
                <span>CO: {{team.co}}</span>
              </div>
            </collapsible-well>
          </div>
          <div class="col-sm-2">
            <button [routerLink]="['/teams', team.abbrev]" class="btn btn-primary btn-sm navbar-btn">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
