@import 'src/scss/common';

mat-card {
  margin: 12px;
  padding: 8px;

  .schedule {
    .schedule-text {
      @include boldItalText($lgFontSize);
      margin-top: 5px;
    }

    .gameday {
      background-color: $LightGrey;
      cursor: pointer;
      margin: 6px;
      transition: background-color 280ms cubic-bezier(.4,0,.2,1);

      &:hover {
        border-color: $NearBlack;
        background-color: $NearWhite;
      }

      .gameday-text {
        @include boldItalText($medFontSize);
        margin-bottom: 5px;
      }
    }
  }
}

