<mat-card>
  <mat-card class="team-card">
    <div fxLayout="column">
      <div class="banner-border" [ngStyle]="{'background-color':'#'+team.lightcolor}">&nbsp;</div>
      <div class="banner-center" [ngStyle]="{'background-color':'#'+team.darkcolor}">{{team?.city}} {{team?.name}}</div>
      <div class="banner-border" [ngStyle]="{'background-color':'#'+team.lightcolor}">{{team?.division}}</div>
    </div>
  </mat-card>
  <mat-card class="team-card">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="image-container"><img src="./assets/images/{{team?.abbrev}}-L.png" fxShow="false" fxShow.gt-sm [alt]="team?.name"></div>
      <div class="image-container" [ngClass]="{ 'super-bowl-trophy': (teamIdx === SuperBowlChamp) }"
        fxLayout="row" fxLayoutAlign="space-around center">
        <img src="./assets/images/{{team?.abbrev}}.png" [ngClass]="{ 'super-bowl-champ': (teamIdx === SuperBowlChamp) }" [alt]="team?.name">
      </div>
      <div class="image-container"><img src="./assets/images/{{team?.abbrev}}-R.png" fxShow="false" fxShow.gt-sm [alt]="team?.name"></div>
    </div>
  </mat-card>
  <mat-card class="team-card">
    <mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let col of attColumns" [matColumnDef]="col">
        <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color':'#'+team.lightcolor}"> {{ col.length > 2 ? (col | capitalize) : (col | uppercase) }} </mat-header-cell>
        <mat-cell *matCellDef="let team" [ngStyle]="{'color':'white','background-color':'#'+team.darkcolor}"> {{ team[col] }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="attColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: attColumns;"></mat-row>
    </mat-table>
  </mat-card>
  <mat-card class="team-card">
    <mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let col of statsColumns" [matColumnDef]="col">
        <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color':'#'+team.lightcolor}"> {{ col.length > 2 ? (col | capitalize) : (col | uppercase) }} </mat-header-cell>
        <mat-cell *matCellDef="let team" [ngStyle]="{'color':'white','background-color':'#'+team.darkcolor}"> {{ team[col] }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="statsColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: statsColumns;"></mat-row>
    </mat-table>
  </mat-card>
</mat-card>
<team-schedule></team-schedule>
