<mat-card>
  <mat-card class="team-card">
    <div fxLayout="column">
      <div class="banner-border" [ngStyle]="{'background-color':'#'+team.lightcolor}">&nbsp;</div>
      <div class="banner-center" [ngStyle]="{'background-color':'#'+team.darkcolor}">{{team?.city}} {{team?.name}}</div>
      <div class="banner-border" [ngStyle]="{'background-color':'#'+team.lightcolor}">{{team?.division}}</div>
    </div>
  </mat-card>
  <mat-card class="team-card">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="image-container"><img src="/assets/images/{{team?.abbrev}}-L.png" [alt]="team?.name"></div>
      <div class="image-container" [ngClass]="{ 'super-bowl-trophy': (teamIdx === SuperBowlChamp) }"
        fxLayout="row" fxLayoutAlign="space-around center">
        <img src="/assets/images/{{team?.abbrev}}.png" [ngClass]="{ 'super-bowl-champ': (teamIdx === SuperBowlChamp) }" [alt]="team?.name">
      </div>
      <div class="image-container"><img src="/assets/images/{{team?.abbrev}}-R.png" [alt]="team?.name"></div>
    </div>
  </mat-card>
  <mat-card class="team-card">
    <table width="100%">
      <tr [ngStyle]="{'background-color':'#'+team.lightcolor}">
        <td>QB</td>
        <td>RB</td>
        <td>WR</td>
        <td>OL</td>
        <td>DL</td>
        <td>LB</td>
        <td>DB</td>
        <td>ST</td>
        <td>CO</td>
        <td>Total</td>
      </tr>
      <tr [ngStyle]="{'color':'white','background-color':'#'+team.darkcolor}">
        <td>{{team.qb}}</td>
        <td>{{team.rb}}</td>
        <td>{{team.wr}}</td>
        <td>{{team.ol}}</td>
        <td>{{team.dl}}</td>
        <td>{{team.lb}}</td>
        <td>{{team.db}}</td>
        <td>{{team.st}}</td>
        <td>{{team.co}}</td>
        <td>{{total}}</td>
      </tr>
    </table>
  </mat-card>
  <mat-card class="team-card">
    <table width="100%">
      <tr [ngStyle]="{'background-color':'#'+team.lightcolor}">
        <td width="25%">Wins</td>
        <td width="25%">Losses</td>
        <td width="25%">PF</td>
        <td width="25%">PA</td>
      </tr>
      <tr [ngStyle]="{'color':'white','background-color':'#'+team.darkcolor}">
        <td>{{team.wins}}</td>
        <td>{{team.losses}}</td>
        <td>{{team.pf}}</td>
        <td>{{team.pa}}</td>
      </tr>
    </table>
  </mat-card>
</mat-card>
<team-schedule></team-schedule>
