html, body {
  height:100%;
}

body {
  background: url('/assets/images/greenback.gif');
  text-align: left;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  /* min-width: 100%; */
  /* width: 100%; */
}

body.container {
  min-width: 1400px;
}

.content-wrapper {
  max-width: 1400px;
  background: rgba(40,40,40,0.4);
  border: 0;
}

li {
  margin: 0px;
  display: flex;
  /* transition: all 2.0s; */
}

img {
  vertical-align: middle;
}

.hidden {
  position: absolute;
  left:-500px;
}

.open {
  max-height: 50px;
  /* height: auto; */
}

.team-stats {
  /* transition: */
  /* flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), */
  /* background 0.2s; */
  /* transition: opacity 1s ease-out; */
  font-weight: bold;
  color: black;
  background: url('/assets/images/greyback.gif');
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
  max-height: 0;
  /* height: 0; */
}

.loading-well {
  background-color: #272727;
  position: absolute;
  width: auto;
  height: auto;
  z-index: 15;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.loading-font {
  font-size: 14pt;
  color: #afafaf;
  padding: 5px 0;
}
