@import 'src/scss/common';

.dialog-title {
  margin-bottom: 12px;

  .dialog-title-text {
    @include boldText($lgFontSize);
    margin-bottom: 28px;
  }

  button {
    color: white;
    background-color: rgba(0, 128, 0, 0.5) !important;
  }
}

mat-dialog-content {
  mat-tab-group {
    background-color: #EEE;
    border-radius: 5px;

    .heading {
      @include boldItalText($lgFontSize);
      text-align: center;
      margin: 5px;
    }

    .division {
      @include boldItalText($medFontSize);
      text-align: center;
      background: rgba(0, 128, 0, 0.5);
      padding: 1px 1px 1px 1px;
      margin: 0px 0px 5px 5px;
      border-radius: 5px;

      .div-team {
        background: url(/assets/images/whiteback.gif);
        text-align: left;
        margin: 1px;
        border-radius: 5px;

        .team-info {
          white-space: nowrap;
          min-width: 200px;

          &:hover {
            border-color: rgba(0, 128, 0, 0.5);
            background-color: rgba(0, 128, 0, 0.2);
          }
          .logo {
            float: left;
            height: 40px;
            padding: 2px 1px 1px 3px;
          }
          .team-city {
            @include normalText($smFontSize);
            padding-left: 5px;
          }
          .team-name {
            @include boldText($medFontSize);
            padding-left: 5px;
          }
          .team-record {
            @include normalText($smFontSize);
            float: right;
            margin: 2px 5px 0px 0px;
          }
        }
      }
    }
  }
}

