<div class="dialog-title" fxLayoutAlign="space-between">
  <div class="dialog-title-text">Top Teams</div>
  <button mat-mini-fab mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<mat-dialog-content>
  <mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex" (selectedTabChange)="tabClicked($event)">
    <mat-tab label="AFC Playoffs">
      <div id="afc">
        <h3 class="heading">Playoff <img src="./assets/images/AFC.png" height="75px"> Picture</h3>
        <div fxLayout="row">
          <div fxLayout="column" class="division">
            Division Leaders
            <div class="div-team" *ngFor="let team of AFCDivLeaders">
              <div class="team-info" fxFlex>
                <img src="./assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
          <div fxLayout="column" class="division">
            Wildcards
            <div class="div-team" *ngFor="let team of AFCWildcard">
              <div class="team-info" fxFlex>
                <img src="./assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
          <div fxLayout="column" class="division">
            On the Outside
            <div class="div-team" *ngFor="let team of AFCHunt">
              <div class="team-info" fxFlex>
                <img src="./assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="NFC Playoffs">
      <div id="nfc">
        <h3 class="heading">Playoff <img src="./assets/images/NFC.png" height="75px"> Picture</h3>
        <div fxLayout="row">
          <div fxLayout="column" class="division">
            Division Leaders
            <div class="div-team" *ngFor="let team of NFCDivLeaders">
              <div class="team-info" fxFlex>
                <img src="./assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
          <div fxLayout="column" class="division">
            Wildcards
            <div class="div-team" *ngFor="let team of NFCWildcard">
              <div class="team-info" fxFlex>
                <img src="./assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
          <div fxLayout="column" class="division">
            On the Outside
            <div class="div-team" *ngFor="let team of NFCHunt">
              <div class="team-info" fxFlex>
                <img src="./assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
